version: '3.7'
services:
    api:
        build: 
            context: ./api
            dockerfile: Dockerfile.dev
        environment:
            - PORT=8081
        ports:
            - "8081:8081"
            - "9229:9229"
        command: npm run dev
        volumes:
            - ./api:/api:cached
        networks:
            - es-network
    db:
        image: microsoft/mssql-server-linux:latest
        restart: always
        environment:
            ACCEPT_EULA: Y
            SA_PASSWORD: Azerty@123
        volumes:
            - mssql-data:/var/opt/mssql/data
        ports:
            - 1433:1433
        networks:
            - es-network
volumes:
    mssql-data:
networks:
    es-network:
        driver: bridge